body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    display: flex;
    background: 
        linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
        url('https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?auto=format&fit=crop&w=1920&q=80')
        no-repeat center center / cover;
    background-attachment: fixed; /* Keeps image static on scroll */
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: linear-gradient(180deg, #1979b4, #1979b4);
    color: rgb(33, 9, 9);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    color:black;
}

.sidebar a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: #0eb0c2;
    font-size: 15px;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 4px solid #ffdd59; /* Accent highlight */
    padding-left: 24px;
}

/* Main Content */
.main-content {
    margin-left: 240px;
    padding: 20px;
    flex-grow: 1;
    color: #fff; /* White text for contrast over background */
}
